Welcome to SuenoPhoto #{current_facebook_user.first_name} #{current_facebook_user.last_name}!
%br
%br
Here Some Photos From My Albums:
%br
%br

.timeline_container
  - @photo_times.each do |key|
    .month
      = key
      %br
      - @grouped_photos[key][0,8].each do |photo|
        .photo
          = image_tag photo.picture
          %br
          = photo.created_time

  .clear

%br
%br
